//- header.pug
header
    nav
        ul
            li 
                a(href="/") Home
            li
                a(href="/projekte") Projekte
            li
                a(href="/cam") Kamera
            h1 This h1 is from the layout.