<!DOCTYPE html>
html(lang="de")
    link(rel="stylesheet", href="/css/style.css", attr)
    head
        title Home Page
    body
        include ../partials/header
        main 
        block content
        main
    footer
        h1 Das ist das ende der Seite